{{#if user.name}}
Welcome {{user.name}}
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}

<h2>Calling Sample Component </h2>
{{sample-component firstName=firstName lastName=lastName}}

<h2>Change Name in Application</h2>
{{input value=newFirstName}}
{{input value=newLastName}}
<button {{action 'changeName'}}>Change</button>
<div id="change-count"></div>

<h2> Notification using Dependency Injection</h2>
<h3>Enter a message </h3>
{{input value=message}}
<button {{action 'notify'}}>Notify</button>
{{outlet}}
{{else}}
Plese enter your name
{{input type='text' value=newUser}}
<button {{action 'setUser'}}>Log in</button>

<h2> Nested Routes</h2>
<div class="container">
    <h3>Welcome to the Application Route</h3>
    {{outlet}}
</div>
<h2> Promises</h2>
<h3>Welcome to the promises in Application Route</h3>
<button {{action 'createPromise'}}>createPromise</button>
<div id="output"></div>
<div id="finally"></div>
{{/if}}